@charset "UTF-8";
/* CSS Document */

* { margin: 0; padding: 0; border: 0; }

.body{
	font-family: "Helvetica, Arial", 'sans-serif' bold;
	text-color: #000000;
	background-color: #b3d6f0;
	text-align: center;
	background-image: url("../images/mountains.jpg");
	bacground-size: cover;
	background-repeat: no-repeat;
	max-height: 500px;
}

.intro {
	align-text: center;
	margin: 300px, 50px, 50px, 50px;
}

.introtext{
	margin-top: 50px;
}

.logoicon {
  display: block;
  margin-right: 50px;
}

.logo {
	
}

.title {
	border: #FFFFFF solid 5px;
	border-radius: 15px;
	margin: 200px 30px 30px 30px;
	
}

.context {
	background-color:#ffffff;
	margin: 20px;
	border: #FFFFFF solid 10px;
	border-radius: 15px;
}